cmake_install.cmake
Makefile
CMakeCache.txt
CMakeFiles

App/inter_chain.enclave.token
App/keygen
App/a.out

Enclave/enclave.debug.so
Enclave/enclave.hex
Enclave/libenclave.so

libdevcore.a 
libdevcrypto.a
libethcore.a 
libethereum.a

inter_chain.enclave.token